<div class="container">
	<div class="jumbotron">
	    <h1 class="display-1">FAQs</h1>
		<hr class="my-2">
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>
		<blockquote class="blockquote faq-item">
		    <p class="bq-title faq-pregunta" style="cursor:pointer;">¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
		    <p class="faq-respuesta text-fluid" style="display:none;">Integer quis velit vel augue aliquam sagittis eget eget diam. Donec finibus ipsum nec diam vehicula porttitor. Morbi vel viverra sapien. Nullam et odio ut mi mollis accumsan. Nam ac velit nec urna volutpat egestas. Etiam egestas odio ac tellus hendrerit, a sagittis tortor rhoncus. Sed quis nisl ac dui congue hendrerit. Quisque tincidunt augue quis tristique placerat. Aenean tempor, purus sollicitudin maximus fringilla, diam ante mattis mi, vitae ultricies neque ligula at quam. Donec vel interdum odio. Nulla facilisi. Donec consequat arcu ut sollicitudin pharetra.</p>
		</blockquote>

	</div>
</div>