<% gauchadas = Gauchada.all%>
<% gauchadas.each do |gauchada| %>
<div class="row">
	<div class= "gauchada col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
		<h2> <%= link_to gauchada.titulo, gauchada %> </h2>
		<p> <%= gauchada.descripcion %> </p>
		<p class="ciudad"> <%= gauchada.ciudad%> </p>
	</div>
</div>
	<% end %>
	<% if gauchadas.size == 0 %>
		 No hay gauchadas 
	<% end %>