<% gauchadas = Gauchada.all%>
<% gauchadas.each do |gauchada| %>
<div class "row">
	<tr>
			<div class= "col-xs-10 col-xs-offset-1" >
				<h3 align=center> <%= link_to gauchada.titulo, gauchada %> </h3>
			<p> <%= gauchada.descripcion %> </p>
			<p> <%= gauchada.ciudad%> </p>
				
			<hr />
			</div class="col-xs-10 col-xs-10-offset.1">
			
	<% end %>
</div>
	<% if gauchadas.size == 0 %>
		 No hay gauchadas 
	<% end %>