
      <div class="card">
        <h4 class="card-header primary-color white-text">Mis postulaciones</h4>

        <% postulaciones = Postulacion.where(usuario_id: current_usuario.id).all %>

        <% if postulaciones.count > 0 %>

            <table class="table">
              <thead>
                <tr>
                  <th style="font-size:50%;">Título</th>
                  <th style="font-size:50%;">Fecha</th>
                  <th style="font-size:50%;">Decisión</th>
                  <th style="font-size:50%;">Estado</th>
                </tr>
              </thead>
              <tbody>
                    <% postulaciones.each do |pos| %>
                    <% if pos.estado == 'Aceptado' %>
                        <tr class="table-success">
                    <% elsif pos.estado == 'Rechazado' %>
                        <tr class="table-danger">
                    <%else %>
                        <tr>
                    <%end%>
                        <td style="font-size:50%;"><%= Gauchada.find(pos.gauchada_id).titulo %></td>
                        <td style="font-size:50%;"><%= pos.fecha.strftime "%d/%m/%Y" %></td>
                        <% if pos.estado == 'En espera'%>
                            <td style="font-size:50%;">
                              Esperando respuesta...
                            </td>
                            <td style="font-size:50%;" class="col-xs-0 align-bottom">
                              <a href="/postulacions/<%=pos.id%>/edit"
      													class='btn btn-blue-grey waves-effect waves-light'>Editar</a>                                
        										</td>
                        <% else %>
                          <td style="font-size:50%;">
                            Usted ha sido <%=pos.estado%>
                          </td>
                            <% if pos.estado == 'Aceptado' %>
                                <td style="font-size:50%;">
                                  El creador se pondrá en contacto con usted
                                </td>
                            <%else %>
                                <td style="font-size:50%;">
                                  Postulece para ayudar en otras Gauchadas
                                </td>
                            <%end%>
                        <% end %>
                      <% end %>
              </tbody>
            </table>
            <%else%>
              <h5> Usted no se ha postulado en ninguna Gauchada </h5>
            <% end %>
          </div>
