<div class="card">
  <h4 class="card-header primary-color white-text">Mis postulaciones</h4>

  <% gauchadas = Gauchada.where(usuario_id: current_usuario.id).all%>

  <% if gauchadas.count > 0 %>

      <table class="table">
        <thead>
          <tr>
            <th >Título</th>
            <th >Detalle</th>
          </tr>
        </thead>
        <tbody>
              <% gauchadas.each do |gau| %>
                <td><%=gau.titulo%></td>
                <td><%= link_to 'Detalles', gau,class:'btn btn-orange' %></td>
             <% end %>
        </tbody>
      </table>
      <%else%>
        <h5> Usted no ha publicado ninguna Gauchada </h5>
      <% end %>
    </div>
