<div class="card">

  <% gauchadas = Gauchada.where(usuario_id: current_usuario.id).all%>

  <% if gauchadas.count > 0 %>

      <table class="table">
        <thead>
          <tr>
            <th >Título</th>
            <th >Detalle</th>
          </tr>
        </thead>
        <tbody>
              <% gauchadas.each do |gau| %>
                <tr>
                  <td><%=gau.titulo%></td>
                  <td><%= link_to 'Detalles', gau,class:'btn btn-orange' %></td>
                </tr>
             <% end %>
        </tbody>
      </table>
      <%else%>
        <p class="lead py-1 pl-1"> Usted no ha publicado ninguna Gauchada </p>
      <% end %>
    </div>
