/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree ../../../vendor/assets
 *= require_self
 *= require_tree .

 */

.text-large{
	font-size: 2rem !important;		
}

select.custom-select{
	
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #CCC;
	height: auto !important;
	font-size: 1.5rem !important;
	width: 100% !important;
	
    // Focused input style
    &:focus {
        border-bottom: 1px solid rgb(66,133,244);
        box-shadow: 0 1px 0 0 rgb(66,133,244);
    }

}


header{
	height: 300px;
	position: relative;
	background-image: image-url('fondo-gauchada.png');
	background-size: cover;
	background-position: bottom center;
	margin-bottom: 30px;

	.row{
		padding-top: 120px;
		position: relative;
		background: rgba(0,0,0,0.6);
		height: 100%;
	}

}

// ######### FORM ###################
.form-group input{
	font-weight: 400;
}
// ######### FORM ###################
.gauchada-link{
	text-align: right;
}
.select-fecha{
	.fa{
		position:relative;
	}
	.select-wrapper{
		display: inline-block;
		.browser-default{
			display: inline-block;
			position: relative;
		}
		label{
			display: block;
			position:relative;
		}
	}
}

#mi-perfil, #show-postulacion {
	
	.md-form {
		.fa.prefix.active{
			color:#ff6d00;
		}
		input:disabled{
			border:0;
			cursor: default;
		}
	}
}