// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gauchada{
	text-align:justify;
	background:#fff;
	border-radius:5px;
	border: 1px solid #ccc;
	margin-top:20px;
	padding:0 20px;
}
.gauchada h2{
	text-align:left;
	padding:10px 0;	
}
.gauchada p{
	line-height:150%;
	font-size:14px;
}
.gauchada h2 a:hover{
	background:none;
}
.gauchada h2 a:visited{
	color:#000;
}
.gauchada .ciudad{
	text-align:right;
}
.btn{
  margin: 0px 1px 0px 1px;
}
.imagen{
	margin-top:30px;

}



