// Place all the styles related to the Logros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.btn,a.btn:visited,a.btn:active{
	color:#fff;	
}
a.btn.btn-default{
	color: #000;
}
.table td{
	font-size:22px;
}

.boton{
	text-align:right;
}
