<div class="container">
        
    <div class="jumbotron">
        <h1 class="h1-responsive">Editar Gauchada</h1>
        <hr class="my-2">
        <p class="lead">
        	<%= render 'form' %>
        </p>


        <%= link_to "Volver", :back %>
    </div>
</div>