<div class="container">
        
    <div class="jumbotron">
        <h1 class="h1-responsive">Editar Gauchada</h1>
        <hr>
        <div class="card-block">
        	<%= render 'form' %>
        </div>


        <%= link_to "Volver", :back %>
    </div>
</div>