<div class="container">
        
    <div class="jumbotron">
        <h1 class="h1-responsive">Crear Gauchada</h1>
        <p class="lead">
        <% if current_usuario.puntos < 1 %>          
            <h6> 
                <span class="animated flash infinite">No tienes puntos suficientes para crear una gauchada! 
                </span>

                <%= link_to "Comprar", new_compra_path, class: 'btn btn-warning btn-sm' %>                 
            </h6>
        <% end%>    
        <hr class="my-2">
        </p>
        <%= render 'form' %>
        <hr>
        <div class="card-data text-xs-left pl-1 pb-1">    
            <%= link_to "Volver", :back %>
        </div>
    </div>
</div>