<div class="container">
	<!--Search form-->
    <form class="form-inline">
    	<div class="row">
    		<div class="col-xs-6 align-bottom">
				<div class="md-form">
				    <i class="fa fa-search prefix"></i>
				    <input type="text" name="busqueda" class="form-control">
				    <label for="busqueda">Buscar</label>
				</div>
    		</div>
    		<div class="col-xs-4 align-bottom">
            	<div class="md-form">
	                <select name="zona" class="mdb-select dropdown-warning">
	                    <option value="" disabled selected>Seleccionar</option>
	                    <option value="1">La Plata</option>
	                    <option value="2">Pehuajó</option>
	                    <option value="3">9 de Julio</option>
	                </select>
	                <label for="ciudad">Ciudad</label>
            	</div>
    		</div>
    		<div class="col-xs-2 align-bottom">
    			<a class="btn btn-orange">Filtrar</a>
    		</div>
    	</div>

    </form>
</div>