<div class="container">
	<!--Search form-->
	<%= form_tag({controller: "gauchadas", action: "index"}, method: "get")	 do %>
    <!-- <form class="form-inline"> -->
    	<div class="row">
    		<div class="col-xs-6 align-bottom">
				<div class="md-form">
				    <i class="fa fa-search prefix"></i>
				    <% if params[:frase] && params[:frase]!='*' %>
					<input type="text" id="frase-buscar" name="frase" class="form-control" value="<%= params[:frase] %>">
					<% else %>
				    <input type="text" id="frase-buscar" name="frase" class="form-control">
					<% end %>
				    <label for="frase">Buscar</label>
				</div>
    		</div>
    		<div class="col-xs-4 align-bottom">
            	<div class="md-form">
				    <select id="ciudad-buscar" class="form-control browser-default custom-select">
	                    <option value="*" >Ciudad</option>
	                    <option value="La Plata">La Plata</option>
	                    <option value="Pehuajó">Pehuajó</option>
	                    <option value="9 de Julio">9 de Julio</option>
	                </select>
            	</div>
    		</div>
    		<div class="col-xs-2 align-bottom">
    			<button type="submit" class="btn btn-orange">Filtrar</button>
				<!-- <a id="boton-buscar" class="btn btn-orange">Filtrar</a> -->
    		</div>
    	</div>

    	<% end %>
    <!-- </form> -->
</div>